:root{
    --cor-de-fundo:#ebeef3;
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: white;
}
h2{
    background-color: rgb(33, 46, 230);
    color: #ebeef3;
    font-size: 24pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}